.p-grid.p-fluid {
    padding: 0 50px;
}

.container label {
    color: #fff;
    font-weight:500;
    padding: 0 0 5px 5px;
}

body .p-inputtext:enabled:focus:not(.p-error) {
    border-color: #f2653c;
    border: 1px;
}

body .p-inputtext:enabled:hover:not(.p-error) {
    border-color: #f2653c;
}