.App {
  text-align: left;

  height: 100%; 
  width: 100%;

}

.App-logo {
  animation: App-logo-spin infinite 10s cubic-bezier(0.075, 0.82, 0.16, 1);
}



.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: blue;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}